
.form--top{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-top: 20px;
}
.form--title{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-left: 20px;
}
.form--tag{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-left: 20px;
}
.form--status{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-left: 20px;
}
.form--description{
    width: 800px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
}
.form--due{
    height: 50px;
    border-radius: 10px;
    margin-left: 20px;
}
.form--button{
    width: 100px;
    max-height: 60px;
    border-radius: 10px;
    margin-left: 20px;
}

